body {
    direction: rtl;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .center {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .container-fluid{
    position: relative;
  }
  header {
    position: sticky;
    z-index: 9999;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 0px 0px 10px 0px #a9a9a9;
    min-height: 65px;
  }
  header nav a {
    text-decoration: none;
    color: #333;
    padding: 0 8px;
    font-size: 1.2em;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
  }
  
  nav a:after {
    display: block;
    content: "";
    border-bottom: solid 3px #3679dc;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  nav a:hover:after {
    transform: scaleX(1);
  }
  
  header .fa {
    color: #333;
  }
  header .fa-bars {
    display: none;
  }
  .strip {
    min-height: 80vh;
  }
  
  .carousel-item img {
    max-height: 80vh;
  }
  
  .fa-angle-right,
  .fa-angle-left {
    font-size: 3em;
    color: #21b6f7;
  }
  .carousel-caption {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.7);
    width: 50%;
    right: 25%;
    left: 25%;
  }
  .carousel-caption h3 {
    font-size: 2.5em;
    font-weight: 900;
    color: #333;
  }
  
  .filter-solution {
    flex-direction: column;
  }
  
  .head-text {
    font-size: 4em;
    font-weight: 900;
  }
  .filter-solution .box-size {
    width: 30%;
  }
  .filter-solution .box {
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .filter-solution .box h3 {
    font-size: 2em;
    padding: 0px 12px;
    font-weight: 500;
  }
  .filter-solution .box button {
    background: rgb(54, 121, 222);
    border: none;
    width: 150px;
    margin: auto;
    border-radius: 20px;
    padding: 4px 8px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
  }
  .filter-solution .box button a {
    text-decoration: none;
    color: white;
  }
  .filter-solution .box button:hover {
    background: rgb(114, 245, 255);
    color: rgb(14, 79, 15);
  }
  .bg-box {
    position: relative;
    min-height: 200px;
    background-image: url("/images/bg-box.png");
    border-radius: 0px 0px 15px 15px;
  }
  .bg-box img {
    position: absolute;
  }
  .bg-box .filter-phone {
    top: -35px;
    left: 14%;
    width: 70%;
  }
  .bg-box .filter-internet {
    top: -35px;
    left: 16%;
    width: 65%;
  }
  .bg-box .only-waze {
    left: 0;
    height: 150px;
    top: -35px;
  }
  .bg-box .computer {
    position: absolute;
    bottom: 30px;
    left: 0px;
  }
  .box .pen {
    width: 15%;
    position: absolute;
    top: 30%;
    right: 100px;
  }
  .box .coffe {
    width: 15%;
    position: absolute;
    bottom: 30%;
    right: 75px;
    z-index: 999;
  }
  .advantage .box {
    width: 23%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    position: relative;
  }
  
  .advantage .fa {
    width: 90px;
    height: 90px;
    padding: 12px 14px;
    background: linear-gradient(to top, #4f44c8 0%, #387fe1 50%, #21b6f7 100%);
    color: white;
    border-radius: 50%;
    font-size: 4em;
    position: absolute;
    top: -45px;
    transition: transform 0.2s;
  }
  .advantage .fa:hover {
    transform: scale(1.2);
  }
  .advantage .box h3 {
    padding: 12px;
    font-weight: 900;
  }
  .about-data .row {
    min-height: 270px;
  }
  .about-data img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
  }
  .about-data button {
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border: none;
    background-color: white;
  }
  .contact .right-box {
    position: absolute;
    min-height: 400px;
    right: 5%;
    top: 10%;
    border-radius: 20px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #3679dc 0%, #00c0ff 100%);
  }
  .contact .fa {
    width: 28px;
    border-radius: 50%;
    padding: 5px;
    height: 28px;
    margin: 8px;
  }
  .fa-phone {
    background: #4f44c8;
  }
  .fa-whatsapp {
    background: green;
  }
  .fa-commenting-o {
    background: orange;
  }
  .fa-envelope-o {
    background: white;
    color: black;
  }
  .contact .left-box {
    min-height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  
  .contact-data {
    margin-right: 30%;
  }
  .contact .shape {
    display: flex;
    font-size: 1.5em;
    align-items: center;
  }
  .contact .circle-1 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #3679dc;
    color: white;
  }
  .contact .line {
    width: 200px;
    height: 5px;
    background: rgb(194, 188, 188);
  }
  .contact .circle-2 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #3679dc;
    color: gray;
  }
  .contact .btn {
    border-radius: 20px;
    background: #3679dc;
    font-size: 1.5em;
  }
  .contact .btn:hover {
    background: #333;
  }
  footer {
    min-height: 200px;
    background: #484848;
    color: white;
    border-radius: 30% 30% 0px 0px;
    display: flex;
    align-items: center;
  }
  footer ul {
    list-style-type: none;
  }
  footer ul a {
    text-decoration: none;
    color: white;
  }
  footer button {
    border-radius: 20px;
    border: none;
    padding: 8px;
    margin: 4px;
    margin-bottom: 16px;
  }
  footer button:hover {
    background: #999;
  }
  .thanks-head{
    font-family: 'Neuton', serif;
    height: 50vh;  
  }
  .thanks-head h1{  
    color: white;
    font-size: 5em;
    background-image: linear-gradient( 180deg, #3679dc 0%, rgba(0, 192, 255, 0.43) 100% );  /* background-position: center; */
  }
  
  @media (max-width: 999px) {
    .container{
      max-width: 96%;
    }
    
    .advantage .box {
      width: 40%;
      margin-bottom: 50px;
    }
  }
  
  @media (max-width: 768px) {
    header {
      min-height: 60px;
    }
    header .fa-bars {
      display: flex;
      text-align: right;
      justify-content: flex-end;
      font-size: 1.5em;
    }
    header nav {
      position: absolute;
      display: none;
      top: 60px;
      right: 0px;
      background: rgb(50 48 48 / 80%);
      z-index: 1000;
    }
  
    header nav a {
      display: block;
      padding: 8px;
      border-bottom: 1px solid gray;
      color: white;
    }
    header nav a:hover {
      background: #666;
      color: white;
    }
    header nav a::after {
      display: none;
    }
    .head-text {
      font-size: 3em;
      font-weight: 800;
      padding: 4px;
    }
    .strip {
      min-height: 170px;
    }
    .strip img {
      width: 38%;
      left: 0px;
      top: 65px;
    }
    .filter-solution .box-size {
      width: 80%;
    }
    .bg-box img {
      height: 100%;
    }
    .filter-solution .box .pen,
    .box .coffe {
      display: none;
    }
    .advantage .box {
      width: 80%;
    }
    .about-data img {
      position: relative;
      width: 80%;
      margin: auto;
    }
    .contact .right-box {
      position: relative;
      right: 0;
      top: 0;
    }
    .contact-data {
      margin-right: 0px;
    }
    footer {
      border-radius: 10% 10% 0px 0px;
    }
  }
  